<!DOCTYPE html>
<html>
  <head>
    <title>ESP32 WiFi Toolkit</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
  </head>
  <body>
    <div class="header">
      ESP32 WiFi Toolkit
    </div>

    <div class="main">

      <div class="feature item item_center width_100">
        <div class="width_100 item_title">Deauther</div>
        <div class="item width_100" id="deauth_status">No Deauth Running...</div>
        <div class="item width_100">
          <select class="width_100" id="ssids" size="10">
            <option value="">Start scan to populate</option>
          </select>
        </div>
        <div class="btn item width_100">
          <button type="button" onclick="scan_ssids()" class="width_100 button">Scan for SSIDs</button>
        </div>
        <div class="btn item width_50">
          <button type="button" onclick="start_deauth()" class="width_100 button">Start Deauth Target</button>
        </div>
        <div class="btn item width_50">
          <button type="button" onclick="stop_deauth()" class="width_100 button">Stop Deauth Target</button>
        </div>
      </div>

      <div class="feature item width_100">
        <div class="width_100 item_title">SSID Spammer</div>
        <div class="item width_100">
          <textarea class="width_100" id="spam_ssids" rows="10"></textarea>
        </div>
        <div class="btn item width_50">
          <button type="button" onclick="start_ssid_spam()" class="width_100 button">Start Spam</button>
        </div>
        <div class="btn item width_50">
          <button type="button" onclick="stop_ssid_spam()" class="width_100 button">Stop Spam</button>
        </div>
      </div>

      <div class="feature item width_100">
        <div class="width_100 item_title">Network Scanner</div>
        <div class="item width_100">
          <select class="width_100" id="clients" size="10">
            <option value="">Start scan to populate</option>
          </select>
        </div>
        <div class="btn item width_100">
          <button onclick="" class="width_100 button">Scan for clients</button>
        </div>
      </div>

      <div class="feature item width_50">Hopefully its good!</div>

      <div class="feature item width_100">
        Disclaimer: This software is made for Educational and Penetration Testing purposes.
        This should never be used on network that you do not own or have explicit permission to use.
      </div>

    </div>

<script>
  function scan_ssids() {
    var select = document.getElementById("ssids");
    select.innerHTML = "<option value=\"\">Scanning for SSIDs...</option>";

    var req = new XMLHttpRequest();
    req.open("GET", "/api/get_ssids", false);
    req.send();
    res = JSON.parse(req.responseText);

    select.innerHTML = "";
    res.aps.forEach((ap) => {
      let elem = document.createElement('option');
      elem.value = ap.bssid;
      elem.innerHTML = ap.ssid + " (" + ap.bssid + ") (" + ap.authmode + ")";
      select.appendChild(elem);
    });
    console.log(res);
  }

  function start_deauth() {
    var bssid = document.getElementById("ssids").value;
    if (bssid == "") return;
    var req = new XMLHttpRequest();
    req.open("POST", "/api/start_deauth", false);
    req.setRequestHeader("Content-Type", "application/json");
    req.send(JSON.stringify({ "target": bssid }));

    var res = JSON.parse(req.responseText);
    var status = document.getElementById("deauth_status");
    if (res.status == "success") {
      status.innerHTML = "Attack on " + bssid + " running...";
    } else {
      status.innerHTML = "Error: " + res.reason;
    }
  }

  function stop_deauth() {
    var bssid = document.getElementById("ssids").value;
    var req = new XMLHttpRequest();
    req.open("GET", "/api/stop_deauth", false);
    req.send();

    var status = document.getElementById("deauth_status");
    status.innerHTML = "awdawd...";
  }

  function start_ssid_spam() {
    var ssids = document.getElementById("spam_ssids");
    if (ssids.value == "") return;
    ssids = ssids.value.split("\n");
    var payload = {
      "ssids": ssids
    };

    var req = new XMLHttpRequest();
    req.open("POST", "/api/start_ssid_spam", false);
    req.setRequestHeader("Content-Type", "application/json");
    req.send(JSON.stringify(payload));

    var res = JSON.parse(req.responseText);
    if (res.status == "success") {
      console.log("Success");
    } else {
      console.log("Failure");
    }
  }

  function stop_ssid_spam() {
    var req = new XMLHttpRequest();
    req.open("GET", "/api/stop_ssid_spam", false);
    req.send();

    /*
    var res = JSON.parse(req.responseText);
    if (res.status == "success") {
      console.log("Success");
    } else {
      console.log("Failure");
    }
    */
  }
</script>

  </body>
</html>